{% sw_extends '@Storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_method_description %}
    {% if payment.handlerIdentifier is same as('Stripe\\ShopwarePlugin\\Payment\\Handler\\SofortPaymentHandler') %}
        <h1>THIS IS STRIPE SOFORT!</h1>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
