{% sw_extends '@Storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_method_description %}
    <div class="payment-method-description">
        {% set stripeData = page.extensions.stripeData.data %}
        <strong>{{ payment.translated.name }}</strong>
        {% if stripeData.showPaymentProviderLogos %}
            <div class="panel--table stripe-payment-provider-logos">
                <div class="panel--tr">
                    {% if payment.formattedHandlerIdentifier is same as('handler_stripe_digitalwalletspaymenthandler') %}
                        <div class="stripe-payment-provider-logo apple-pay"></div>
                        <div class="stripe-payment-provider-logo google-pay"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_bancontactpaymenthandler') %}
                        <div class="stripe-payment-provider-logo bancontact"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_cardpaymenthandler') %}
                        <div class="stripe-payment-provider-logo visa"></div>
                        <div class="stripe-payment-provider-logo mastercard"></div>
                        <div class="stripe-payment-provider-logo american-express"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_giropaypaymenthandler') %}
                        <div class="stripe-payment-provider-logo giropay"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_idealpaymenthandler') %}
                        <div class="stripe-payment-provider-logo ideal"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_sepapaymenthandler') %}
                        <div class="stripe-payment-provider-logo sepa"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_sofortpaymenthandler') %}
                        <div class="stripe-payment-provider-logo sofort"></div>
                    {% elseif payment.formattedHandlerIdentifier is same as('handler_stripe_klarnapaymenthandler') %}
                        <div class="stripe-payment-provider-logo klarna"></div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if payment.translated.description %}
            <p>{{ payment.translated.description|raw }}</p>
        {% endif %}
        <div style="clear: left;"></div>
        {% if payment.formattedHandlerIdentifier is same as('handler_stripe_cardpaymenthandler') %}
            {% include 'component/payment/stripe-payment.card-selection.html.twig' %}
        {% endif %}
        {% if payment.formattedHandlerIdentifier is same as('handler_stripe_sepapaymenthandler') %}
            {% include 'component/payment/stripe-payment.sepa-selection.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
